<h1>This is the list of signers in the selected city</h1>

<ul>
    {{#each content}}
{{#if this.url}}
	{{#if this.city}}
<li><a href="{{this.url}}">{{this.first_name}} {{this.last_name}}</a>  {{this.age}} <a href="./signers/{{this.city}}">{{this.city}}</a></li>
	{{else}}
<li><a href="{{this.url}}">{{this.first_name}} {{this.last_name}}</a>  {{this.age}}</li>
	{{/if}}
	{{else}}
    {{#if this.city}}
<li><{{this.first_name}} {{this.last_name}} {{this.age}} <a href="./signers/{{this.city}}">{{this.city}}</a></li>
    {{/if}}
<li><{{this.first_name}} {{this.last_name}} {{this.age}}</li>
{{/if}}
{{/each}}
</ul>

<br> </br>
<button id="button" type="submit">{{>goback}}</button>
<br> </br>

{{>logout}}
