<h1>Edit your profile!</h1>



<form method="post">
    <input type="text" name="firstname" placeholder="{{userData.first_name}}">
    <input type="text" name="lastname" placeholder="{{userData.last_name}}">
    <input type="text" name="email" placeholder="{{userData.email}}">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="age" placeholder="{{userData.age}}">
    <input type="text" name="city", placeholder="{{userData.city}}">
    <input type="text" name="url" placeholder="{{userData.url}}">
<br> </br>
    <button id="button" type="submit">SAVE - CONTINUE</button>
</form>
