<header>
{{>navprofileproducer}}

</header>

<main>
<form method="get">
    <h3 id="titelpresfirma">Präsentation von Firma {{userData.firmenname}}</h3>
<div class="presentation">

    <div id="anschrift"><b> Anschrift:</b>
    <h4>{{userData.firmenname}} </h4>
    <p>{{userData.strasse}} </p>

        <div id="cityplz">
            {{userData.plz}}
            {{userData.stadt}}
        </div>

        {{userData.land}}
    </div>

    <div id="contact"> <b>Contact:</b>
    <p>Telefon: {{userData.telefon}} </p>
    <p>Fax: {{userData.fax}} </p>
    <p>Webseite: <a href={{userData.webseite}}>{{userData.webseite}}</a></p>
    </div>

    <div id="uberuns">
    <p><b>Über Uns:</b> {{userData.uberuns}} </p>
    </div>

    <div id="stichworte">
    <p><b>Stichworte:</b> {{keywords.keyword1}} </p>
    <p>{{keywords.keyword2}} {{keywords.keyword3}}</p>
    <p>{{keywords.keyword4}} {{keywords.keyword5}}</p>
    </div>

    <div id="katalog">
    <p><b>Katalog:</b> <a href={{userData.katalog}}> <i class="fas fa-book"></i></a> </p>
    </div>

</div>


</form>

</main>


<footer>
   <div id="footerlink"> Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe        |      {{>logout}}</div>

</footer>
