
<header>


</header>

<main>
    <h1>Info über Hersteller</h1>
<form method="post">
    <p>Logo: {{userData.logo}} </p>
    <p>Firmenname: {{userData.firmenname}} </p>
    <p>Steuernummer: {{userData.steuernummer}} </p>
    <p>Strasse: {{userData.strasse}} </p>
    <p>PLZ: {{userData.plz}} </p>
    <p>Stadt: {{userData.stadt}} </p>
    <p>Bundesland: {{userData.bundesland}} </p>
    <p>Land: {{userData.land}} </p>
    <p>Telefon: {{userData.telefon}} </p>
    <p>Fax: {{userData.fax}} </p>
    <p>Webseite: {{userData.webseite}} </p>
    <p>Über Uns: {{userData.uberuns}} </p>
    <p>Stichworte: {{keywords.keyword1}} </p>
    <p>{{keywords.keyword2}}</p>
    <p>{{keywords.keyword3}}</p>
    <p>{{keywords.keyword4}}</p>
    <p>{{keywords.keyword5}}</p>
    <p>Katalog: {{userData.katalog}} </p>
</form>

</main>


<footer>
<div id="footerlink">  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe   |         {{>logout}}<div>

</footer>
