<h1>This is the list of producers you searched for</h1>


    <ul>
        {{#each content}}
<li>Logo: {{this.logo}} </li>
<li>Firmenname: <a href="./presentationProducerSideRender/{{this.firmenname}}">{{this.firmenname}}</a> </li>
<li>Stadt: {{this.stadt}} </li>
<li>Webseite: {{this.webseite}} </li>
{{/each}}
</ul>
