<h1>This is the list of producers you searched for</h1>

<form method="get">
<p>Logo: {{userData.logo}} </p>
<p>Firmenname: {{userData.firmenname}} </p>
<p>Steuernummer: {{userData.steuernummer}} </p>
<p>Strasse: {{userData.strasse}} </p>
<p>PLZ: {{userData.plz}} </p>
<p>Stadt: {{userData.stadt}} </p>
<p>Bundesland: {{userData.bundesland}} </p>
<p>Land: {{userData.land}} </p>
<p>Telefon: {{userData.telefon}} </p>
<p>Fax: {{userData.fax}} </p>
<p>Webseite: {{userData.webseite}} </p>
<p>Über Uns: {{userData.uberuns}} </p>
<p>Stichworte: {{userData.keyword1}} </p>
<p>{{userData.keyword2}}</p>
<p>{{userData.keyword3}}</p>
<p>{{userData.keyword4}}</p>
<p>{{userData.keyword5}}</p>
<p>Katalog: {{userData.katalog}} </p>
<form method="get">
