
<header>
{{>navergebnissuche}}

</header>

<h1>Ergebnisse zu gesuchten Lieferanten</h1>

<div id="displaysearch">
    <ul>
        {{#each content}}

<li>Firmenname: <a href="./presentationProducerSideRender/{{this.firmenname}}"><b>{{this.firmenname}}</b></a> </p>
<p>Stadt: {{this.stadt}} </p>
<p>Webseite:<a href="{{this.webseite}}"> {{this.webseite}} </a></p>

<br>
{{/each}}
</ul>
</div>

<footer>
    <p>  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe                <p> {{>logout}}

</footer>
