<header>
{{>navprofileproducer}}

</header>
<div class="navandmain">

<main>
<form method="get">
    <h3>PROFILE VON {{userData.vorname}} {{userData.nachname}} VON {{userData.firmenname}} </h3>
    <p>Vorname: {{userData.vorname}} </p>
    <p>Nachname: {{userData.nachname}} </p>
    <p>email: {{userData.email}} </p>
    <p>Benutzername: {{userData.benutzername}} </p>
    <p>Firmenname: {{userData.firmenname}} </p>
    <p>Steuernummer: {{userData.steuernummer}} </p>
</form>

</main>
</div>

<footer>
    <div id="footerlink">  Über Uns   |   Datenschutz  |   Contact   |   Einwilligungsfreigabe   |         {{>logout}}<div>

</footer>
