<header>
<img src="./images/Kgool-logo2.png" alt="Kgool Logo" class ="homeimage" />

</header>
<div class="navandmain">
    <nav>
    <a id="producerinfo" href="/profileProducer">Information</a> <br>
    
    <a id="favoritesinfo" href="/Favoriten">Interessenten</a> <br>
    <a id="customerinfo" href="/presentationProducerSide">Präsentation von meiner Firma</a>
    </nav>
<main>
<form method="get">
    <h3>PROFILE PRODUCER</h3>
<a id="editprofileproducerlink" href="/editProfileProducer">Edit Profile Producer</a>
    <p>Vorname: {{userData.vorname}} </p>
    <p>Nachname: {{userData.nachname}} </p>
    <p>email: {{userData.email}} </p>
    <p>Benutzername: {{userData.benutzername}} </p>
    <p>Firmenname: {{userData.firmenname}} </p>
    <p>Steuernummer: {{userData.steuernummer}} </p>

</form>

</main>
</div>

<footer>
    <p>Über Uns / Datenschutz / Contact / Einwilligungsfreigabe {{>logout}}<p>

</footer>
